
html, body { height: 100%; }
body {
    background: linear-gradient(to top, #85C1E9, #ffffff 80%);
    background-attachment:fixed;
}

#logo img {
  width:200px;
  margin-left:30px;
  display:block;
  margin: 0 auto;
}

.ocean { 
  position:fixed;
  height: 5%;
  width:100%;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

.card {
  margin-top:-100px;
}
#login-form {
  margin:0 auto;
  max-width:360px;
}

@media only screen and (max-width: 767.5px) {
  #login-form {
    margin-top:0px!important;
  }
}

@media only screen and (max-width: 432px) {
  .info {
    margin-left:10px;
  }
}